:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--searchbar-height: 7vh;

	background-color: #ffffff; /* Background color of site */
	--animori-theme-colour: #aea3ff;
	--dark-animori-theme-colour: #646cff;

	--grey-content-box-background-colour: #ededed;
	--grey-content-box-shadow-colour: #aea3ff97;

	/* Note - if you change the navbar color, the image will need 
	to be changed to match this: /resources/navbarStarter.png */
	--navbar-text-colour: #260a4b;

	--product-list-bottom-border-colour: #32a1ce;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column; /* Ensures children stack vertically */
	min-width: 320px;
	min-height: 100vh;
	width: 100%; /* Ensures body takes up the full width of the viewport */
	box-sizing: border-box; /* Include padding and border in the element's width and height */
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}
