.login-container {
    justify-content: center;
    align-items: center; 
    min-height: 60vh;
    max-width: 30vh;
    background-color: #242424;
    box-shadow: 0 4px 8px rgba(69, 150, 237, 0.1); 
    border-radius: 20px;
    border: 2px solid #646cff;
    padding: 50px;
  }

.login-field {
  margin: 8px;
  border-radius: 5px;
}

.login-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #262b94; /* Default border color */
}

.login-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: white; /* Border color on hover */
}

.login-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(255, 255, 255); /* Border color when focused */
}

.login-field .MuiInputLabel-root {
  color: #646cff; /* Label color */
}

.login-field .MuiInputBase-input {
  color: white; /* Input text color */
}

.checkbox-container {
  justify-content: center;
  align-items: center; 
}