.top-navigation {
  display: flex;               /* Enables flexbox */
  justify-content: space-around; /* Distributes space evenly between items */
  align-items: center;         /* Vertically centers items */
  padding: 10px;               /* Adds some padding around the navigation bar */
  position: sticky;
  top: 0%;
}

.animori-logo {
  height: 55px;
}