.detailList {
	margin: 0 auto;
	width: 80vw;
	height: 50vh;
	text-align: left;
	background-color: var(--grey-content-box-background-colour);
	box-shadow: 12px 12px 2px 1px var(--grey-content-box-shadow-colour);
	padding: 50px;
	color: black;
}

.title {
	text-align: center;
}
