.itemDetails {
	display: grid;
	min-height: 120px;
	justify-items: stretch; /* Ensures items stretch to fill the grid cells */
	grid-template-columns: repeat(auto-fill, minmax(19vw, 1fr));
	align-content: start;
	gap: 15px;
}
