.dashboardUtils {
	margin: 0 auto;
	width: 700px;
	height: 600px;
	text-align: left;
	background-color: #ededed;
	box-shadow: 12px 12px 2px 1px #aea3ff97;
	padding: 50px;
	color: black;
}

.addProduct,
.removeProduct {
	flex: 1; /* Optional: makes each item take up equal space */
}

.addProductField {
	margin: 8px;
	border-radius: 5px;
}

.addProductField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
	border-color: #6269e4; /* Default border color */
}

.addProductField .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
	border-color: white; /* Border color on hover */
}

.addProductField
	.MuiOutlinedInput-root.Mui-focused
	.MuiOutlinedInput-notchedOutline {
	border-color: rgb(255, 255, 255); /* Border color when focused */
}

.addProductField .MuiInputLabel-root {
	color: #e9e9e9; /* Label color */
}

.addProductField .MuiInputBase-input {
	color: white; /* Input text color */
}

.topButtons {
	display: flex;
	gap: 10px;
	justify-content: space-around;
}
