.dashboardUtils {
	margin: 0 auto;
	width: 70vw;
	min-width: 800px;
	text-align: left;
	background-color: var(--grey-content-box-background-colour);
	box-shadow: 12px 12px 2px 1px var(--grey-content-box-shadow-colour);
	padding: 50px;
	color: black;
}

.addProduct,
.removeProduct {
	flex: 1; /* Optional: makes each item take up equal space */
}

.topButtons {
	display: flex;
	gap: 10px;
	justify-content: space-around;
}

.productGrid {
	max-height: 60vh;
	overflow: scroll;
}
