.topNavigation {
	display: flex; /* Enables flexbox */
	align-items: center; /* Vertically centers items */
	justify-content: space-between; /* Distributes space between the logo and the icon container */
	padding: 10px; /* Adds some padding around the navigation bar */
	position: sticky; /* Makes the nav bar sticky at the top */
	top: 0; /* Positions the nav bar at the very top */
	width: 100%; /* Makes the nav bar span the entire width of the viewport */
	box-sizing: border-box; /* Ensure padding and border are included in the width */

	background: #aea3ff url("../resources/navbarStarter.png") no-repeat left
		center;
}

.animoriLogo {
	height: 55px;
}

.iconContainer {
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-left: 15px;
}

.socialIcon {
	transform: scale(1.5);
	color: white;
	margin-right: 20px; /* Adds space between the social icon and the account icon */
}

.accountIcon {
	transform: scale(2); /* Scales the account icon to twice its original size */
	color: white;
	margin-right: 20px;
}

.accountName {
	color: #260a4b;
	position: relative;
	margin: 16px 20px 20px auto;
}

.linkContainer {
	display: flex;
	align-items: center;
	text-decoration: none; /* Remove underline from the link */
}

.logoutButton {
	margin-left: 20px;
}
