.productGrid {
	display: grid;
	width: 95%;
	grid-template-columns: repeat(auto-fit, 280px);
	padding-left: 50px;
	padding-right: 50px;
	flex-wrap: wrap;
	justify-content: center;
}

.filterProductsBar {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filterIcon {
	color: black;
}

.sortByText {
	padding-right: 10px;
}

.sortBySelect {
	width: 160px;
}
