.productGrid {
	display: grid;
	width: 95%;
	grid-template-columns: repeat(auto-fit, 280px);
	padding-left: 50px;
	padding-right: 50px;
	flex-wrap: wrap;
	justify-content: center;
}

.filterProductsBar {
	width: 100%;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filterIcon {
	color: black;
}

.filterMenu {
	position: absolute;
	top: 135px;
	width: 400px;
	height: 300px;
	background-color: var(--grey-content-box-background-colour);
	box-shadow: 12px 12px 2px 1px var(--animori-theme-colour);
	left: 50%;
	transform: translateX(calc(-50% + 30px));
	z-index: 9999;
}

.priceFilterContainer {
	display: flex;
	justify-content: space-around;
}

.filtersTitle {
	padding-top: 5px;
}

.priceSelector {
	width: 100px !important;
}

.categorySelector {
	display: flex;
	flex-direction: column;
	left: 35%;
	position: relative;
}

.categoryCheckbox {
	display: flex;
	align-items: center;
	width: 200px;
}

.checkboxLabel {
	margin-left: 8px;
	width: auto;
}

.sortByText {
	padding-right: 10px;
}

.sortBySelect {
	width: 160px;
}
