.searchBanner {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgb(224, 216, 255);
}

.searchBarContainer {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70%;
	min-width: 500px;
}

.categorySelect {
	width: 180px !important;
}

.selectAll {
	background-color: grey;
}

.searchEntry {
	width: 60%;
	padding-left: 10px;
	background-color: white;
}

.searchResultsContainer {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	padding: 10px;
	background-color: rgba(224, 216, 255, 0.7);
	border-radius: 0px 0px 20px 20px;
	width: 40%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productsGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 10px;
	row-gap: 15px;
	width: 100%;
	margin-bottom: 10px;
}

.seeAllButton {
	width: 100%;
	border: 2px solid black;
	border-radius: 20px;
	background-color: rgb(190, 175, 248);
}
