.container {
	margin-bottom: 10px; /* Ensure some space around the component */
	border-bottom: thick double var(--product-list-bottom-border-colour);
	border-radius: 15px;
}

.productLine {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
	padding: 10px;
}

.productLineExpanded {
	height: 260px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
	padding: 10px;
}

.productDetail,
.nameDetail {
	flex: 1;
	padding: 7px;
	text-align: left;
}

.buttonDiv {
	display: flex;
	gap: 10px;
	align-items: flex-end; /* Align items to the bottom of the container */
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}

.moreDetails {
	padding: 10px;
	border-radius: 0 0 15px 15px; /* Rounded corners to match the parent */
}

.editField {
	display: flex;
	border-radius: 15px;
	padding: 10px;
}
